.h1 {
  background: #fff;
  overflow-wrap: anywhere;
  word-break: break-word;
}

[data-theme="dark"]:root .h1 {
  background-color: #101417;
  background-image: radial-gradient(farthest-side at 50% 100%, #1f262b, #171c20, #101417);
  background-size: 200% 50%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@keyframes target-highlight {
  0% {
    color: inherit;
    background-color: transparent;
  }
  50% {
    color: var(--color-mark);
    background-color: var(--background-color-mark);
  }
  100% {
    color: inherit;
    background-color: transparent;
  }
}

.root {
  :target,
  :target * {
    animation: target-highlight 1s ease 0.3s;
  }
}

@keyframes rotateAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.root::before {
  content: "";
  display: block;
  position: fixed;
  background: var(--color-accent);
  height: 0.5rem;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 1000;

  animation-name: rotateAnimation;
  animation-timing-function: linear;
  animation-duration: 1ms; /* Firefox では、アニメーションを適用するために必要 */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

.article {
  h2,
  h3,
  h4 {
    margin-bottom: var(--spacing-paragraph);
    font-weight: bold;
    line-height: 1.375;
  }

  :where(h2, h3, h4):not(:first-child) {
    margin-top: 2.5lh;
  }

  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }

  @container (width >= 50rem) {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1.125rem;
    }
  }

  lazy-image {
    /* outline: 1px solid rgba(0, 0, 0, 0.5); */
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

  [class*="associate"] {
    display: block;
    padding: 0.5rem;
    border: 1px solid var(--border-color-textfield);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    background-color: var(--background-color-primary);
  }
  [class*="associate"] small {
    display: block;
  }

  ul li {
    position: relative;
    padding-left: 1.375rem;
  }

  li::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0.8125rem;
    width: 0.275rem;
    height: 0.275rem;
    border-radius: 50%;
    background-color: var(--color-primary);
  }

  sup {
    letter-spacing: 1px;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }

  hr {
    border-style: dashed;
    margin-block: 1.75em;
  }

  iframe {
    border: 0;
  }

  [class~="youtube"] {
    aspect-ratio: 16 / 9;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background-color: var(--background-color-secondary);
  }

  [class~="youtube"] iframe {
    position: absolute !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    border-radius: 0.5rem;
    transition:
      0.3s opacity ease-out,
      0.3s visibility ease-out;
  }

  [class~="youtube"] iframe[data-js-api="loading"] {
    opacity: 0;
    visibility: hidden;
  }

  [class~="hljs"] {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  [class~="codeblock"] {
    border: 1px solid var(--border-color-primary);
    border-radius: 0.5rem;
    overflow: hidden;
  }

  [class~="codeblock"] [data-language="diff"] {
    display: grid;
    padding: 0;
  }

  [class~="codeblock"] [data-language="diff"] :where(ins, del, span) {
    padding: 0 1em;
    display: block;
    white-space: pre;
  }

  [class~="codeblock"] [data-language="diff"] del:first-child {
    padding-top: 0.5em;
  }

  [class~="codeblock"] [data-language="diff"] ins:last-child {
    padding-bottom: 0.5em;
  }

  [class~="codeblock"] ins {
    background: var(--background-color-success);
  }

  [class~="codeblock"] del {
    background: var(--background-color-error);
  }

  [class~="codeblock"] [class~="of-command"]::before {
    content: "$ ";
    color: var(--color-accent);
  }

  [class~="codeblock__caption"] {
    padding: 0 0 0 min(0.5rem, 16px);
    font-size: 0.75rem;
    background: var(--background-color-secondary);
    border-bottom: 1px solid var(--border-color-blockquote);
    display: grid;
    grid-template-columns: 1fr 2rem;
    min-height: calc(2rem + 1px);
    align-items: center;
  }

  [class~="codeblock__caption__copy"] {
    width: 2rem;
    height: 2rem;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--background-color-panel-primary);
    transition: background-color 0.3s ease-out;
  }

  [class~="codeblock__caption__copy"]:hover {
    background-color: var(--background-color-panel-primary-hover);
  }

  [class~="codeblock__caption__copy"] svg {
    width: 0.875rem;
    height: 0.875rem;
    transition: opacity 0.3s ease;

    @starting-style {
      opacity: 0;
    }
  }

  [class~="blockquote"] {
    font-size: 0.875rem;
    padding: 0.5rem min(0.75rem, 24px) 1rem;
    border-left: min(0.625rem, 24px) solid var(--color-low-contrast-reverse);
    color: var(--color-low-contrast);
    background: var(--background-color-secondary);
  }

  [class~="blockquote"]:not(:has([class~="blockquote__caption"])) {
    padding-bottom: 1.5rem;
  }

  [class~="blockquote"]::before {
    content: "“";
    color: var(--color-low-contrast-reverse);
    margin-bottom: -3rem;
    user-select: none;
    font-family: serif;
    font-size: 6rem;
    line-height: 1;
    pointer-events: none;
    display: block;
  }

  [class~="blockquote__content"] {
    font-style: italic;
    padding: 0.25rem min(0.75rem, 24px) 0;
  }

  [class~="blockquote__caption"] {
    margin-top: 2rem;
    text-align: right;
    font-size: 0.75rem;
    padding-left: 2rem;
    padding-right: min(0.5rem, 24px);
  }

  [class~="custom-block"] {
    padding: 1rem;
    border: 1px solid var(--border-color-primary);
  }

  [class~="custom-block"][data-type="memo"] {
    border-radius: 0.5rem;
    background: var(--background-color-secondary);
  }

  [class~="custom-block"][data-type="warn"] {
    border-radius: 0.5rem;
    background: var(--background-color-warn);
  }

  [class~="custom-block__title"] {
    margin: 0 0 0.5rem;
    font-weight: bold;
    mix-blend-mode: hard-light;
  }

  [class~="custom-block__content"] {
    padding: 0 0 0 0.5rem;
  }
}

.article [class~="table-container"] {
  border-radius: var(--radius-md);
  overflow: auto;
  border: 1px solid var(--border-color-primary);
  font-size: 0.875rem;

  table {
    /* 引用内に入ったテーブルの最大幅 = 582 */
    width: max(582px, 100%);
    border-collapse: collapse;
    overflow-wrap: break-word;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: left;
  }

  :where(th, td)[class~="is-center"] {
    text-align: center;
  }

  :where(th, td):not(:first-child) {
    border-left: 1px solid var(--border-color-primary);
  }

  table:has(tbody th) thead th:nth-of-type(2) {
    border-left-width: 2px;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  tbody th:first-child {
    border-right: 2px solid var(--border-color-primary);
  }

  thead {
    background-color: var(--background-color-table-header);
  }

  tbody :where(th, td) {
    border: 1px solid var(--border-color-primary);
    border-width: 1px 0;
  }

  tbody tr:first-child :where(th, td) {
    border-top: 2px solid var(--border-color-primary);
  }

  tbody th {
    background-color: var(--background-color-table-header);
  }
}
