.h1 {
  background: #fff;
}

[data-theme="dark"]:root .h1 {
  background-color: #101417;
  background-image: radial-gradient(farthest-side at 50% 100%, #1f262b, #171c20, #101417);
  background-size: 200% 50%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@keyframes target-highlight {
  0% {
    color: inherit;
    background-color: transparent;
  }
  50% {
    color: var(--color-mark);
    background-color: var(--background-color-mark);
  }
  100% {
    color: inherit;
    background-color: transparent;
  }
}

.root {
  lazy-image {
    outline: 1px solid rgba(0, 0, 0, 0.5);
  }
  [class*="associate"] {
    display: block;
    padding: 0.5rem;
    border: 1px solid var(--border-color-textfield);
    border-radius: 0.5rem;
    font-size: 0.75rem;
  }
  [class*="associate"] small {
    display: block;
  }

  :target,
  :target * {
    animation: target-highlight 1s ease 0.3s;
  }
}

.article ul {
  li {
    position: relative;
    padding-left: 1.25rem;
  }

  li::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0.75rem;
    width: 0.275rem;
    height: 0.275rem;
    border-radius: 50%;
    background-color: var(--color-text);
  }

  sup {
    letter-spacing: 1px;
  }
}
