.h1 {
  background: #fff;
}

[data-theme="dark"]:root .h1 {
  background-color: #101417;
  background-image: radial-gradient(farthest-side at 50% 100%, #1f262b, #171c20, #101417);
  background-size: 200% 50%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
