.root {
  --v-color-text-footer: #fff;
  --v-color-background-footer: #5c5858;
  --v-color-background-breadcrumb: #ebe6e7;
}

[data-theme="dark"]:root .root {
  --v-color-text-footer: #fff;
  --v-color-background-footer: #575757;
  --v-color-background-breadcrumb: #3d3c3a;
}
