.breadcrumb {
  --v-color-background-breadcrumb: #ebe6e7;
}

.footer {
  --v-color-text-footer: #fff;
  --v-color-background-footer: #4d4d4d;
}

[data-theme="dark"]:root .breadcrumb {
  --v-color-background-breadcrumb: #3d3c3a;
}

[data-theme="dark"]:root .footer {
  --v-color-text-footer: #fff;
  --v-color-background-footer: #575757;
}
