.page {
  *:focus {
    outline: 3px solid blue;
  }
}

:has(.page) {
  #modalOverlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  [role="dialog"] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: thin #000 solid;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top: 25%;
    left: 25%;
  }
  .scroll-frame {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 400px;
    width: 100%;
  }
  #lastButton {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
