.root {
  rect {
    fill: #f0f0f0;
  }
  text {
    fill: #333;
  }
  rect.isPressed {
    fill: #a0a0a0;
  }
  text.isPressed {
    fill: #141414;
  }
}

[data-theme="dark"] .root {
  rect {
    fill: #777;
  }
  text {
    fill: #fff;
  }
  rect.isPressed {
    fill: #333;
  }
  text.isPressed {
    fill: #fff;
  }
}
