/** 画面幅をめちゃちじめるか、iPhone SE基準、375px幅のスマホで文字サイズを上げるとガラケーサイトになる */
@media screen and (width <= 20.38rem) {
  .root {
    &::before {
      content: "ﾀﾞｰｸﾓｰﾄﾞ";
    }

    span {
      display: none;
    }
  }

  [data-theme="dark"] .root::before {
    content: "ﾗｲﾄﾓｰﾄﾞ";
  }
}
