.result {
  table {
    border-collapse: collapse;
    background: var(--background-color-secondary);
  }

  td,
  th {
    padding: 0.25em 0.75em;
    border: 1px solid #ccc;
  }
}

@media (pointer: coarse) {
  .result {
    url-item {
      display: inline-flex;
      align-items: center;
      cursor: default;
    }

    url-item::before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.375rem;
      vertical-align: middle;
      content: "";
      background: url("/common/images/icons/magnifying-glass.svg") no-repeat center center;
      -webkit-touch-callout: none;
    }
  }
}
