table.sampleTable {
  border-collapse: collapse;
  border: 1px solid #333;
}
table.sampleTable caption {
  font-weight: bold;
  text-align: center;
}
table.sampleTable thead {
  background-color: #e0e0e0;
}
table.sampleTable tbody {
  background-color: #ffffff;
}
table.sampleTable th,
table.sampleTable td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #333;
}
table.sampleTable th {
  font-weight: bold;
}
table.sampleTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
