.page {
  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  [aria-selected="true"] {
    border-bottom: 3px solid green;
  }
  /*[aria-hidden=true] {display:none;}voiceover likes this but not visiblity:hidden*/
}
