.table {
  width: 100%;
}

.table tbody th::after {
  content: "：";
}

.table tbody th {
  width: min(10rem, 160px);
  font-weight: normal;
  text-align: left;
}

.table tbody th + td {
  padding-inline: 1rem;
  font-family: var(--font-mono);
}

.table tbody td:last-child {
  text-align: right;
  text-wrap: nowrap;
}

@media screen and (max-width: 640px) {
  .table,
  .table * {
    display: block;
  }
  .table tbody th {
    width: auto;
    font-weight: bold;
  }

  .table tbody tr {
    margin-top: var(--spacing-paragraph);
  }

  .table tbody td:last-child {
    padding-right: 0;
  }
}
