@chatset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
a {
  color: #005a9c;
}

h2,
h3 {
  font-weight: normal;
}

h1 {
  margin: 30px 0 4px;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  margin: 70px 0 18px;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: normal;
}

h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  position: absolute;
  overflow: hidden;
  right: 100%;
  top: 0.12em;
  font-size: 80%;
  width: 2em;
  height: 2em;
  text-align: center;
  opacity: 0.5;
}
h2 a.anchor:focus,
h2 a.anchor:hover,
h3 a.anchor:focus,
h3 a.anchor:hover,
h4 a.anchor:focus,
h4 a.anchor:hover,
h5 a.anchor:focus,
h5 a.anchor:hover,
h6 a.anchor:focus,
h6 a.anchor:hover {
  opacity: 1;
}

h2 a.anchor::before,
h3 a.anchor::before,
h4 a.anchor::before,
h5 a.anchor::before,
h6 a.anchor::before {
  content: "§";
}

h2 a.anchor span,
h3 a.anchor span,
h4 a.anchor span,
h5 a.anchor span,
h6 a.anchor span {
  position: absolute;
  clip: rect(0 0 0 0);
}

code {
  font-size: inherit;
  font-family: inherit;
}

dfn,
code {
  color: #005a9c;
  font-size: inherit;
  font-family: inherit;
}

dfn::before,
code::before {
  content: "‘";
}
dfn::after,
code::after {
  content: "’";
}

pre code {
  color: inherit;
}
pre code::before,
pre code::after {
  display: none;
}

dfn {
  font-weight: bold;
  font-style: italic;
}

dt {
  font-weight: bold;
}

dt + dd {
  margin-top: 3px;
}

dd + dt {
  margin-top: 8px;
}

a {
  text-decoration: underline;
}

main {
  padding: 0 15px 0 50px;
  margin: 0 auto;
  max-width: 800px;
}

#toc {
  margin: 0 0 80px;
}
#toc ul {
  list-style: none;
  padding-left: 0;
  font-weight: bold;
  margin: 5px 0;
}
#toc > ul > li {
  margin: 16px 0;
}
#toc ul ul {
  font-weight: normal;
}
#toc a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
#toc a:focus span:last-child,
#toc a:hover span:last-child {
  text-decoration: underline;
}
#toc a span:first-child {
  min-width: 80px;
}

.propdef {
  overflow: auto;
  margin: 1.2em 0;
}
.propdef table {
  page-break-inside: avoid;
  border-left: 8px solid #8ccbf2;
  background: #def;
  border-spacing: 0;
}

.propdef table td,
.propdef table th {
  padding: 0.5em 1em;
}
.propdef table tr:first-child th,
.propdef table tr:first-child td {
  padding-top: 20px;
}
.propdef table tr:last-child th,
.propdef table tr:last-child td {
  padding-bottom: 20px;
}
.propdef table tr:not(:last-child) th,
.propdef table tr:not(:last-child) td {
  border-bottom: 1px solid #bbd7e9;
}
.propdef table th {
  width: 156px;
  text-align: left;
  font-weight: normal;
}

.example {
    counter-increment: example;
    border-left: 8px solid #e0cb52;
    background: #fcfaee;
    counter-increment: example;
    padding: .5em;
    margin-top: 10px;
}
.example::before {
    text-transform: uppercase;
    color: #827017;
    min-width: 7.5em;
    display: block;
    content: "Example " counter(example);
}
.example pre {
  background: #fcfadc;
  padding: 10px;
  margin: 10px 0;
}
