@chatset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
a {
  color: #005a9c;
}

h2,
h3 {
  font-weight: normal;
}

dt {
  font-weight: bold;
}

a {
  text-decoration: underline;
}

main {
  padding: 0 15px;
}
