:has(.page) {
  #modalOverlay {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1000;
  }
  [role="alertdialog"] {
    position: relative;
    width: 80%;
    margin-left: -40%;
    height: 400px;
    margin-top: -200px;
    padding: 5px;
    border: thin #000 solid;
    background-color: #fff;
  }
}
