.page {
  /******

BUTTONS

********/
  button,
  .button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    display: inline-block;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #dddddd repeat-x;
    /* background: #dddddd url("../img/button.png?1298351022") repeat-x; */
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff, #dddddd);
    background-image: -moz-linear-gradient(#ffffff, #dddddd);
    background-image: -o-linear-gradient(#ffffff, #dddddd);
    background-image: -ms-linear-gradient(#ffffff, #dddddd);
    background-image: linear-gradient(#ffffff, #dddddd);
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    cursor: pointer;
    color: #333333;
    font:
      bold 13px "Helvetica Neue",
      Helvetica,
      Arial,
      Geneva,
      sans-serif;
    outline: 0;
    overflow: visible;
    margin: 0;
    padding: 6px 8px;
    text-shadow: white 0 1px 1px;
    vertical-align: top;
    text-align: center;
  }
  button:hover,
  .button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-image: -webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #ffffff),
      color-stop(1px, #eeeeee),
      color-stop(100%, #cccccc)
    );
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
    text-decoration: none !important;
  }
  button:active,
  .button:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  input[type="button"]:active {
    background-image: -webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #ffffff),
      color-stop(1px, #dddddd),
      color-stop(100%, #eeeeee)
    );
    background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
    background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
    background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
    background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
    background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
    border-color: #999999 #bbbbbb #dddddd;
  }
  button::-moz-focus-inner,
  .button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  /*
button,
.button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
*/

  /**********

COLORS

**********/
  button.primary,
  .button.primary,
  input[type="reset"].primary,
  input[type="submit"].primary,
  input[type="button"].primary {
    -moz-box-shadow:
      inset 0px 1px 1px 0px #b2f08e,
      0px 1px 1px #7c7c7c;
    -webkit-box-shadow:
      inset 0px 1px 1px 0px #b2f08e,
      0px 1px 1px #7c7c7c;
    box-shadow:
      inset 0px 1px 1px 0px #b2f08e,
      0px 1px 1px #7c7c7c;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #64d225), color-stop(1, #2a7a0c)); */
    background: linear-gradient(to bottom, #64d225 5%, #2a7a0c 100%);
    background: -moz-linear-gradient(center top, #64d225 5%, #2a7a0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64d225', endColorstr='#2a7a0c');
    background-color: #43a619;
    border: 1px solid #2a7a0c;
    text-shadow: 0px -1px 0px #1d4f0a;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
  }

  button.secondary,
  .button.secondary,
  input[type="reset"].secondary,
  input[type="submit"].secondary,
  input[type="button"].secondary {
    -webkit-box-shadow:
      inset 0 1px 1px 0 #ffffff,
      0 1px 1px #7c7c7c;
    -moz-box-shadow:
      inset 0 1px 1px 0 #ffffff,
      0 1px 1px #7c7c7c;
    box-shadow:
      inset 0 1px 1px 0 #ffffff,
      0 1px 1px #7c7c7c;
    background: #f3f3f3;
    /* background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d7d7d7), color-stop(1, #ffffff)); */
    background: linear-gradient(to top, #d7d7d7 0%, #ffffff 100%);
    background: -ms-linear-gradient(bottom, #d7d7d7, #ffffff);
    background: -moz-linear-gradient(center bottom, #d7d7d7 0%, #ffffff 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7');
    border: 1px solid #a6a6a6;
    color: #4c4c4c;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    -moz-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
  }
  button.info,
  .button.info,
  input[type="reset"].info,
  input[type="submit"].info,
  input[type="button"].info {
    -moz-box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #7c7c7c;
    -webkit-box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #7c7c7c;
    box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #7c7c7c;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #065d9c), color-stop(1, #03365a)); */
    background: linear-gradient(to bottom, #065d9c 5%, #03365a 100%);
    background: -moz-linear-gradient(center top, #065d9c 5%, #03365a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065d9c', endColorstr='#03365a');
    background-color: #154473;
    border: 1px solid #154473;
    text-shadow: 0px -1px 0px #04375c;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
  }
  button.help,
  .button.help,
  input[type="reset"].help,
  input[type="submit"].help,
  input[type="button"].help {
    -moz-box-shadow:
      inset 0px 1px 1px 0px #90e5fa,
      0px 1px 1px #7c7c7c;
    -webkit-box-shadow:
      inset 0px 1px 1px 0px #90e5fa,
      0px 1px 1px #7c7c7c;
    box-shadow:
      inset 0px 1px 1px 0px #90e5fa,
      0px 1px 1px #7c7c7c;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #56d4f8), color-stop(1, #2194ec)); */
    background: linear-gradient(to bottom, #56d4f8 5%, #2194ec 100%);
    background: -moz-linear-gradient(center top, #56d4f8 5%, #2194ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56d4f8', endColorstr='#2194ec');
    background-color: #154473;
    border: 1px solid #2194ec;
    text-shadow: 0px -1px 0px #176e99;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
  }
  button.danger,
  .button.danger,
  input[type="reset"].danger,
  input[type="submit"].danger,
  input[type="button"].danger {
    -moz-box-shadow:
      inset 0px 1px 1px 0px #e87a7a,
      0px 1px 1px #7c7c7c;
    -webkit-box-shadow:
      inset 0px 1px 1px 0px #e87a7a,
      0px 1px 1px #7c7c7c;
    box-shadow:
      inset 0px 1px 1px 0px #e87a7a,
      0px 1px 1px #7c7c7c;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d83636), color-stop(1, #891010)); */
    background: linear-gradient(to bottom, #d83636 5%, #891010 100%);
    background: -moz-linear-gradient(center top, #d83636 5%, #891010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d83636', endColorstr='#891010');
    background-color: #154473;
    border: 1px solid #791616;
    text-shadow: 0px -1px 0px #400606;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
  }
  button.header_button,
  .button.header_button,
  input[type="reset"].header_button,
  input[type="submit"].header_button,
  input[type="button"].header_button {
    -moz-box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #175886;
    -webkit-box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #175886;
    box-shadow:
      inset 0px 1px 1px 0px #75a4c6,
      0px 1px 1px #175886;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #166dad), color-stop(1, #08406a)); */
    background: linear-gradient(to bottom, #166dad 5%, #08406a 100%);
    background: -moz-linear-gradient(center top, #166dad 5%, #08406a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#166DAD', endColorstr='#08406a');
    background-color: #154473;
    border: 1px solid #154473;
    text-shadow: 1px -1px #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    line-height: 18px !important;
  }

  /**********

COLOR :HOVER

**********/
  button.primary:hover,
  .button.primary:hover,
  input[type="reset"].primary:hover,
  input[type="submit"].primary:hover,
  input[type="button"].primary:hover {
    background: linear-gradient(to bottom, #5dcb22 5%, #1c610a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5dcb22), color-stop(1, #1c610a));
    background: -moz-linear-gradient(center top, #5dcb22 5%, #1c610a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5dcb22', endColorstr='#1c610a');
    background-color: #398c15;
  }
  button.secondary:hover,
  .button.secondary:hover,
  input[type="reset"].secondary:hover,
  input[type="submit"].secondary:hover,
  input[type="button"].secondary:hover {
    color: #595959;
    background: #dddddd;
    background: linear-gradient(to top, #d0d0d0 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #f4f4f4));
    background: -ms-linear-gradient(bottom, #d0d0d0, #f4f4f4);
    background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #f4f4f4 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d0d0d0');
  }
  button.info:hover,
  .button.info:hover,
  input[type="reset"].info:hover,
  input[type="submit"].info:hover,
  input[type="button"].info:hover {
    background: linear-gradient(to bottom, #05548c 5%, #033051 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #05548c), color-stop(1, #033051));
    background: -moz-linear-gradient(center top, #05548c 5%, #033051 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05548c', endColorstr='#033051');
    background-color: #5c5c5c;
  }
  button.help:hover,
  .button.help:hover,
  input[type="reset"].help:hover,
  input[type="submit"].help:hover,
  input[type="button"].help:hover {
    background: linear-gradient(to bottom, #51cef0 5%, #1e86da 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #51cef0), color-stop(1, #1e86da));
    background: -moz-linear-gradient(center top, #51cef0 5%, #1e86da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51cef0', endColorstr='#1e86da');
    background-color: #5c5c5c;
  }
  button.danger:hover,
  .button.danger:hover,
  input[type="reset"].danger:hover,
  input[type="submit"].danger:hover,
  input[type="button"].danger:hover {
    background: linear-gradient(to bottom, #ce3030 5%, #750f0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce3030), color-stop(1, #750f0f));
    background: -moz-linear-gradient(center top, #ce3030 5%, #750f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce3030', endColorstr='#750f0f');
    background-color: #5c5c5c;
  }

  /**********

COLOR :ACTIVE

**********/
  button.primary:active,
  .button.primary:active,
  input[type="reset"].primary:active,
  input[type="submit"].primary:active,
  input[type="button"].primary:active {
    position: relative;
    background: linear-gradient(to bottom, #52b31e 5%, #1b610a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52b31e), color-stop(1, #1b610a));
    background: -moz-linear-gradient(center top, #52b31e 5%, #1b610a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b31e', endColorstr='#1b610a');
    background-color: #2f8012;
    -moz-box-shadow: inset 0px 1px 1px 0px #3ea616;
    -webkit-box-shadow: inset 0px 1px 1px 0px #3ea616;
    box-shadow: inset 0px 1px 1px 0px #3ea616;
    top: 1px;
  }
  button.secondary:active,
  .button.secondary:active,
  input[type="reset"].secondary:active,
  input[type="submit"].secondary:active,
  input[type="button"].secondary:active {
    color: #595959;
    background: #cccccc;
    background: linear-gradient(to top, #b9b9b9 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b9b9b9), color-stop(1, #f0f0f0));
    background: -ms-linear-gradient(bottom, #b9b9b9, #f0f0f0);
    background: -moz-linear-gradient(center bottom, #b9b9b9 0%, #f0f0f0 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#b9b9b9');
    -webkit-box-shadow: inset 0 1px 1px #7c7c7c;
    -moz-box-shadow: inset 0 1px 1px #7c7c7c;
    box-shadow: inset 0 1px 1px #7c7c7c;
    top: 1px;
  }
  button.info:active,
  .button.info:active,
  input[type="reset"].info:active,
  input[type="submit"].info:active,
  input[type="button"].info:active {
    background: linear-gradient(to bottom, #05548c 5%, #032842 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #05548c), color-stop(1, #032842));
    background: -moz-linear-gradient(center top, #05548c 5%, #032842 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05548c', endColorstr='#032842');
    background-color: #555;
    -moz-box-shadow: inset 0px 1px 1px 0px #033254;
    -webkit-box-shadow: inset 0px 1px 1px 0px #033254;
    box-shadow: inset 0px 1px 1px 0px #033254;
    top: 1px;
  }
  button.help:active,
  .button.help:active,
  input[type="reset"].help:active,
  input[type="submit"].help:active,
  input[type="button"].help:active {
    background: linear-gradient(to bottom, #43baea 5%, #1777c4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #43baea), color-stop(1, #1777c4));
    background: -moz-linear-gradient(center top, #43baea 5%, #1777c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43baea', endColorstr='#1777c4');
    background-color: #555;
    -moz-box-shadow: inset 0px 1px 1px 0px #1e86da;
    -webkit-box-shadow: inset 0px 1px 1px 0px #1e86da;
    box-shadow: inset 0px 1px 1px 0px #1e86da;
    top: 1px;
  }
  button.danger:active,
  .button.danger:active,
  input[type="reset"].danger:active,
  input[type="submit"].danger:active,
  input[type="button"].danger:active {
    background: linear-gradient(to bottom, #b02121 5%, #660c0c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b02121), color-stop(1, #660c0c));
    background: -moz-linear-gradient(center top, #b02121 5%, #660c0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b02121', endColorstr='#660c0c');
    background-color: #555;
    -moz-box-shadow: inset 0px 1px 1px 0px #660c0c;
    -webkit-box-shadow: inset 0px 1px 1px 0px #660c0c;
    box-shadow: inset 0px 1px 1px 0px #660c0c;
    top: 1px;
  }

  /********

BUTTON SIZES

********/

  button.med-btn,
  .button.med-btn,
  input[type="reset"].med-btn,
  input[type="submit"].med-btn,
  input[type="button"].med-btn {
    padding: 6px 9px 8px 8px;
    line-height: 13px;
  }

  button.large-btn,
  .button.large-btn,
  input[type="reset"].large-btn,
  input[type="submit"].large-btn,
  input[type="button"].large-btn {
    font-size: 16px;
    padding: 2px 12px;
    line-height: 26px;
  }

  /* IE buttons */

  .ie6_button,
  * html button {
    /* background: #dddddd url('../images/button.png?1298351022') repeat-x; */
    background: #dddddd repeat-x;
    border: 1px solid;
    border-color: #dddddd #bbbbbb #999999;
    cursor: pointer;
    color: #333333;
    font:
      bold 12px/1.2 Arial,
      sans-serif;
    padding: 2px 10px 0px;
    overflow: visible;
    width: auto;
  }

  /* html button */

  * html button {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
