.page {
  #shipping-toggle {
    color: #337ab7;
    text-decoration: none;
  }

  #shipping-toggle:focus,
  #shipping-toggle:hover {
    color: #23527c;
    text-decoration: underline;
  }

  #shipping-panel {
    display: none;
  }
}
