@layer base {
  :where(li, th, td, figcaption, caption, p, span, a, dd, label) > code {
    padding: 0.1428em 0.2857em;
    font-size: 0.875em;
    color: #345071;
    background-color: #c8cee1;
    border-radius: 4px;
  }

  :where(li, th, td, figcaption, caption, p, span, a, dd, label, strong) > kbd {
    padding: 0.1428em 0.2857em;
    font-size: 0.875em;
    color: #ddd;
    background-color: #222222cc;
    border-radius: 4px;
  }

  body {
    line-height: 1.875;
  }
}
