@layer base {
  :where(li, th, td, figcaption, caption, p, span, a, dd, label) > code {
    padding: 0.1428em 0.2857em;
    font-size: 0.875em;
    color: #27476b;
    background-color: #d6ddf5cc;
    border-radius: 4px;
  }

  [data-theme="dark"] :where(li, th, td, figcaption, caption, p, span, a, dd, label) > code {
    color: #f2eeee;
    background-color: #6d4444cc;
  }

  :where(li, th, td, figcaption, caption, p, span, a, dd, label, strong) > kbd {
    padding: 0.1428em 0.2857em;
    font-size: 0.875em;
    color: #ddd;
    background-color: #222222cc;
    border-radius: 4px;
  }

  [data-theme="dark"] :where(li, th, td, figcaption, caption, p, span, a, dd, label) > kbd {
    color: #fff;
    background-color: #777777cc;
  }

  body {
    line-height: 1.875;
  }
}
