<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: '-apple-system-関連のfont-family値'
}); %>
<style>
*:focus {outline:3px solid #27B;}
.body { font: -apple-system-body }
.caption1 { font: -apple-system-caption1 }
.caption2 { font: -apple-system-caption2 }
.footnote { font: -apple-system-footnote }
.headline { font: -apple-system-headline }
.short-body { font: -apple-system-short-body }
.short-caption1 { font: -apple-system-short-caption1 }
.short-footnote { font: -apple-system-short-footnote }
.short-headline { font: -apple-system-short-headline}
.short-subheadline { font: -apple-system-short-subheadline }
.subheadline { font: -apple-system-subheadline }
.tall-body { font: -apple-system-tall-body }
</style>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>-apple-system-関連のfont-family値</h1>
<img src="./img/apple-system-css-font-IMG_0371.png" alt="iOSのアクセシビリティ項目「さらに大きな文字」の設定画面のスクリーンショット" width="300" height="534">
<div class="body">
  <h2>Body</h2>
  <p>-apple-system-body</p>
  <p>素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur, porro facilis voluptatem, provident quae, est aperiam laborum quibusdam consectetur quidem excepturi nobis sed perspiciatis ex! Doloremque reprehenderit odit nihil!</p>
</div>
<h2 class="caption1">Caption 1</h2>

<div class="caption1">-apple-system-caption 1</h2>

<h2 class="caption2">Caption 2</h2>

<div class="caption2">-apple-system-caption 2</h2>

<h2 class="footnote">Footnote</h2>

<div class="footnote">-apple-system-footnote</h2>

<h2 class="headline">Headline</h2>

<div class="headline">-apple-system-headline</h2>

<div class="short-body">
  <h2>Short Body</h2>
  <p>-apple-system-short-body</p>
  <p>素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur, porro facilis voluptatem, provident quae, est aperiam laborum quibusdam consectetur quidem excepturi nobis sed perspiciatis ex! Doloremque reprehenderit odit nihil!</p>
</div>
<h2 class="short-caption1">Short Caption 1</h2>

<div class="short-caption1">-apple-system-short-caption 1</div>

<h2 class="short-footnote">Short Footnote</h2>

<div class="short-footnote">-apple-system-short-footnote</div>

<h2 class="short-headline">Short Headline</h2>

<div class="short-headline">-apple-system-short-headline</div>

<h2 class="short-subheadline">Short Subheadline</h2>

<div class="short-subheadline">-apple-system-short-subheadline</div>

<h2 class="subheadline">Subheadline</h2>

<div class="subheadline">-apple-system-subheadline</div>

<div class="tall-body">
  <h2>Tall Body</h2>
  <p>-apple-system-tall-body</p>
  <p>素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。素早い茶色の狐はのろまな犬を飛び越える。孤独なFOXは片目のハウンドを追いかける。スペインで雨降る平地を歩行する？素早い茶色の狐はのろまな犬を飛び越える。</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non consequatur, porro facilis voluptatem, provident quae, est aperiam laborum quibusdam consectetur quidem excepturi nobis sed perspiciatis ex! Doloremque reprehenderit odit nihil!</p>
</div>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>
