<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'aria-expanded属性の状態をスクリーンリーダに伝える'
}); %>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>aria-expanded属性の状態をスクリーンリーダに伝える</h1>
<h2>aria-expandedを持つリンク</h2>
<p><a href="#" aria-expanded="true" aria-controls="dynamic-container"><span aria-hidden="true">[-]</span>詳細</a></p>
<div id="dynamic-container">
<p>詳細テキスト詳細テキスト詳細テキスト詳細テキスト</p>
</div>
<script>
var dynCtrlr = document.querySelector('[aria-controls=dynamic-container]');
dynCtrlr.addEventListener("click", expandCollapseContainer);
function expandCollapseContainer(event) {
	event.preventDefault();
	dynCtrlr = document.querySelector('[aria-controls=dynamic-container]');
	var dynCtnr = document.querySelector('#dynamic-container');
	var isExpanded = dynCtrlr.getAttribute('aria-expanded');
	if (isExpanded == "true") {
		dynCtnr.style.visibility = "hidden";
		dynCtrlr.innerHTML = "<span aria-hidden=true>[+]</span> 詳細";
		dynCtrlr.setAttribute('aria-expanded','false');
	} else {
		dynCtnr.style.visibility = "visible";
		dynCtrlr.innerHTML = "<span aria-hidden=true>[-]</span> 詳細";
		dynCtrlr.setAttribute('aria-expanded','true');
	}
}
</script>
<h2>aria-expandedを持つボタン</h2>
<p><button aria-expanded="true" aria-controls="dynamic-button-container"><span aria-hidden="true">[-]</span>詳細</button></p>
<div id="dynamic-button-container">
<p>詳細テキスト詳細テキスト詳細テキスト詳細テキスト</p>
</div>
<script>
var dynBtnCtrlr = document.querySelector('[aria-controls=dynamic-button-container]');
dynBtnCtrlr.addEventListener("click", expandCollapseBtnContainer);
function expandCollapseBtnContainer() {
	dynBtnCtrlr = document.querySelector('[aria-controls=dynamic-button-container]');
	var dynBtnCtnr = document.querySelector('#dynamic-button-container');
	var isExpanded = dynBtnCtrlr.getAttribute('aria-expanded');
	if (isExpanded == "true") {
		dynBtnCtnr.style.visibility = "hidden";
		dynBtnCtrlr.innerHTML = "<span aria-hidden=true>[+]</span> 詳細";
		dynBtnCtrlr.setAttribute('aria-expanded','false');
	} else {
		dynBtnCtnr.style.visibility = "visible";
		dynBtnCtrlr.innerHTML = "<span aria-hidden=true>[-]</span> 詳細";
		dynBtnCtrlr.setAttribute('aria-expanded','true');
	}
}
</script>
<h2>aria-expandedを持つタブ</h2>
<p>
<div id="tablist">
<span>タブ1</span> <span>タブ2</span> <span>タブ3</span>
</div>
<div class="tab-panel" id="tp1">
<p>タブパネル 1</p>
</div>
<div class="tab-panel" id="tp2">
<p>タブパネル 2</p>
</div>
<div class="tab-panel" id="tp3">
<p>タブパネル 3</p>
</div>
<script>
(function () {
    'use strict';

    var tablist = document.getElementById('tablist');
    var tabPanel = document.getElementsByClassName('tab-panel');

    tablist.setAttribute('role', 'tablist')

    Array.prototype.forEach.call(tablist.children, function (tab, idx) {
        tab.id = 'tab-' + idx;
        tab.setAttribute('role', 'tab');
        tab.setAttribute('aria-controls', tabPanel[idx].id);

        if (idx === 1) {
            tab.tabIndex = 0;
            tab.setAttribute('aria-expanded', 'true');

            return;
        }

        tab.tabIndex = -1;
        tab.setAttribute('aria-expanded', 'false');
    });

    Array.prototype.forEach.call(tabPanel, function (panel, idx) {
        panel.setAttribute('role', 'tabpanel');
        panel.setAttribute('aria-labelledby', tablist.children[idx].id);
    });
}());
var tabs = document.querySelectorAll('[role=tab]');
for (i = 0; i < tabs.length; i++) { tabs[i].addEventListener("click", showTabPanel); tabs[i].addEventListener("keydown", showTabPanelKbrd); }
function showTabPanel(el) {
	var tabs2 = document.querySelectorAll('[role=tab]');
	for (i = 0; i < tabs2.length; i++) { tabs2[i].innerText = "タブ" + (i + 1); tabs2[i].setAttribute('aria-expanded','false'); tabs2[i].tabIndex = -1;tabs2[i].setAttribute('aria-selected','false');}
    el.target.tabIndex = 0;
	el.target.innerHTML = "<span aria-hidden=true>[</span>" + el.target.textContent.trim() + "<span aria-hidden=true>]</span>";
	el.target.setAttribute('aria-expanded', 'true');
	el.target.setAttribute('aria-selected', 'true');
	var tabPanelToOpen = el.target.getAttribute('aria-controls');
	var tabPanels = document.querySelectorAll('[role=tabpanel]');
	for (i = 0; i < tabPanels.length; i++) { tabPanels[i].style.display = "none"; }
	document.getElementById(tabPanelToOpen).style.display = "block";
}
function showTabPanelKbrd(e) {
    var key = e.key.replace('Arrow', '');

    if (
        e.keyCode == "13" ||
        e.keyCode == "32"
    ) {
        showTabPanel(e);
    } else if (
        key === 'Up' ||
        key === 'Left'
    ) {
        e.preventDefault();

        if (this.previousElementSibling) {
            this.previousElementSibling.click();
            this.previousElementSibling.focus();
        }
    } else if (
        key === 'Down' ||
        key === 'Right'
    ) {
        e.preventDefault();

        if (this.nextElementSibling) {
            this.nextElementSibling.click();
            this.nextElementSibling.focus();
        }
    }
}
tabs[1].click();
</script>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>
