<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'alertロールを利用したライブスライダー'
}); %>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
    <h1>alertロールを利用したライブスライダー</h1>
    <p role="alert" id="current-temp">現在の気温は摂氏27.0℃です。</p>
    <label for="temp">温度 </label><input id="temp" type="range" value="27.0" step="0.1" min="-41.0" max="41.1">
<script>
(function () {
    'use strict';

    var alert = document.getElementById("current-temp");
    var temp = document.getElementById("temp");
    var addZero = function (num) {
        var val = String(num);

        if (val.indexOf('.') === -1) {
            return String(num) + '.0';
        }

        return num;
    }
    var handler = function(){
          alert.innerHTML = '現在の気温は摂氏'+ addZero(this.value) + '℃です。';
    };

    temp.addEventListener('input', handler);
    temp.addEventListener('change', handler); // for VoiceOver
}());
</script>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>