<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'WAI-ARIAのaria-describedby属性、aria-required属性、aria-invalid属性、jQueryのfocus()メソッドを使用したシンプルなフォームバリデータ'
}); %>
<style>
strong[id] {
    display: block;
    font-size: 80%;
}
</style>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
$(document).ready(function(e) {
	$('#signup').submit(function() {
		$('#first-error, #last-error, #password-error, #email-error').remove();
		$('#first, #last, #password, #email').removeAttr('aria-invalid');
		if ($('#first').val() === '') {
			$('#first').before('<strong id="first-error">名を入力してください</strong>').attr({"aria-describedby": "first-error", "aria-invalid": "true"});
		}
		if ($('#last').val() === '') {
			$('#last').before('<strong id="last-error">姓を入力してください</strong>').attr({"aria-describedby": "last-error", "aria-invalid": "true"});
		}
		if ($('#password').val() === '') {
			$('#password').before('<strong id="password-error">フォーマットにしたがってパスワードを入力してください。</strong>').attr({"aria-describedby": "password-error password-format", "aria-invalid": "true"});
		}
		if ($('#email').val() === '') {
			$('#email').before('<strong id="email-error">メールアドレスをname@domain.comの形式で入力してください。</strong>').attr({"aria-describedby": "email-error", "aria-invalid": "true"});
		}
		if ($('#first').val() === '') {
			$('#first').focus();
		} else if ($('#last').val() === '') {
			$('#last').focus();
		} else if ($('#password').val() === '') {
			$('#password').focus();
		} else if ($('#email').val() === '') {
			$('#email').focus();
		}
		return false;
	});
});
</script>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>WAI-ARIAのaria-describedby属性、aria-required属性、aria-invalid属性、<a href="http://api.jquery.com/focus/">jQueryのfocus()メソッド</a>を使用したシンプルなフォームバリデータ</h1>
<form name="signup" id="signup" method="post" action="">
  <p>
    <label for="last">姓 *</label><br>
    <input type="text" name="last" id="last" aria-required="true">
  </p>
  <p>
    <label for="first">名 *</label><br>
    <input type="text" name="first" id="first" aria-required="true">
  </p>
  <p>
    <label for="password">パスワード *</label><br>
    <small id="password-format">※ 8桁、1つの大文字、1つの数字、1つの記号を含めてください</small><br>
    <input type="text" name="password" id="password" aria-describedby="password-format password-error" aria-required="true">
  </p>
  <p>
    <label for="email">メールアドレス *</label><br>
    <input type="text" name="email" id="email" aria-required="true">
  </p>
  <p>
    <input type="submit" name="button" id="button" value="Submit">
  </p>
</form>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>
