<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'VoiceOverのバグ：aria-pressed属性で要素が無視される'
}); %>
<style>
[role="button"] {
padding: 10px;
border: 1px solid #CCC;
}
[role="button"][aria-pressed="true"] {
border: 1px solid #000;
}
[role="button"][aria-pressed="false"] {
border-bottom-width: 4px;
position: relative;
top: -4px;
color: #4f4f4f;
background: #eee;
}
</style>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>VoiceOverのバグ：aria-pressed属性で要素が無視される</h1>

<p><strong>※ macOS10.13.6では正常に作動しているようです（2019/03/04）</strong></span></p>

<p><a href="#" aria-pressed="true" role="button">表示する</a><span> (<code>a[role="button"][aria-pressed="true"]</code>)</span></p>
<p><a href="#" aria-pressed="true">表示する</a><span> (<code>a[aria-pressed="true"]</code><sup>※1</sup>)</span></p>
<p><button aria-pressed="true">表示する</button> <span> (button[aria-pressed="true"]</code>)</span></p>
 <button role="button" aria-pressed="false" id="toggleBtn">編集</button> <span>(<code>button[role="button"][aria-pressed="<span id="pressed-state">false</span>"]</code>)</span>

<p><small>※1 誤った実装</small></p>

 <script>
(function () {
    'use strict';

    var btn = document.getElementById('toggleBtn');
    var state = document.getElementById('pressed-state');
    var handleBtnClick = function () {
        var isPressed = this.getAttribute('aria-pressed') === 'true';
        var value = isPressed ? 'false' : 'true';

        this.setAttribute("aria-pressed", value);
        state.textContent = value;
    };

    btn.addEventListener('click', handleBtnClick);
}());
</script>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>