<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'ARIAを使ったカウントダウンタイマー'
}); %>
<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>ARIAを使ったカウントダウンタイマー</h1>
<p>HH:MM:SS</p>
<p>ARIA Live Regionsを使って、毎分の変化を読み上げさせるべきです。</p>


<h2>保存までの残り時間:</h2>
<script>
setTimeout(function(){
	setInterval(function() {
		var time = $('#timer').text();
		$('#alert').html("保存までの残り時間: " + time);
	}, 1000 * 60 * 1);
 }, 1000);

setInterval(function(){
    $(".countdown").each(function(){
        var seconds = $(this).data('seconds');
        if(seconds > 0) {
            second = seconds - 1;
            $(this).data('seconds', second)

                var date = new Date(null);
                date.setSeconds(second);
                $(this).html(date.toISOString().substr(11, 8))
        }
        else
        {
            $(this).html("Reload" )
        }
    });
}, 1000);
</script>
<span id="timer" data-seconds="32400" class="countdown">09:00:00</span>
<div id="alert" role="alert" aria-live="assertive" style="position:absolute; width:0; height:0; clip: rect(0,0,0,0);"></div>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>