<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'オーディオ/ビデオの自動再生とループを使った悪い例'
}); %>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>オーディオ/ビデオの自動再生とループを使った悪い例</h1>
  <video autoplay controls loop>
    <source src="http://content.bitsontherun.com/videos/bkaovAYt-52qL9xLP.mp4">
    <source src="http://content.bitsontherun.com/videos/bkaovAYt-27m5HpIu.webm">
  </video>
<p><a href="goodav.html">自動再生またはループのないオーディオ/ビデオの良い例</a></p>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>