<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'スタイリングされたボタンの例'
}); %>
<link rel="stylesheet" href="./css/buttons.css">
<style>
ul { list-style: none; padding: 0; }
ul li { display: inline-block; margin: 0 10px 10px 0; }
input:focus { outline: 2px solid black; }
</style>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
	<h1>スタイリングされたボタンの例</h1>
	<ul>
		<li><input type="button" class="primary" value="優先度高"></li>
		<li><input type="button" class="secondary" value="通常ボタン"></li>
		<li><input type="button" class="info" value="お知らせボタン"></li>
		<li><input type="button" class="help" value="ヘルプボタン"></li>
		<li><input type="button" class="danger" value="重要なボタン"></li>
	</ul>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>