<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'VoiceOverでは読み上げられるがJAWSおよびNVDAでは読み上げられない空のヘディングコンテンツ'
}); %>
<style>
.styled {
padding: 8px 5px;
margin: 0;
border-top: 1px solid #e2e4f9;
font-size: 13px;
font-weight: bold;
color: #000;
}
</style>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>VoiceOverでは読み上げられるがJAWSおよびNVDAでは読み上げられない空のヘディングコンテンツ</h1>
<h1>空の1から6の見出し要素</h1>
<h1></h1>
<h2></h2>
<h3></h3>
<h4></h4>
<h5></h5>
<h6></h6>
<h1>空の1から6の見出し要素（CSSあり）</h1>
<h1 class="styled"></h1>
<h2 class="styled"></h2>
<h3 class="styled"></h3>
<h4 class="styled"></h4>
<h5 class="styled"></h5>
<h6 class="styled"></h6>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>