<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'HTML5のfigure要素とfigcaption要素'
}); %>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
$(document).ready(function(e) {
	$('#faux-button').on('keyup', function(e) {
		if(e.keyCode == '13'){
			alert("Ouch you hit ENTER on my fake button!");
		}
	});
	$("#faux-button").click(function(e) {
			alert("Ouch you clicked my fake button!");
    });
	$('#alt-button').on('keyup', function(e) {
		if(e.keyCode == '13'){
			alert("Ouch you hit ENTER on my alt button!");
		}
	});
	$("#alt-button").click(function(e) {
			alert("Ouch you clicked my alt button!");
    });
	$('#title-button').on('keyup', function(e) {
		if(e.keyCode == '13'){
			alert("Ouch you hit ENTER on my title button!");
		}
	});
	$("#title-button").click(function(e) {
			alert("Ouch you clicked my title button!");
    });
});
</script>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
<h1>フェイクボタンのアクセシビリティテスト<a href="https://api.jquery.com/focus/"></a></h1>
<div role=button tabindex=0 id=faux-button>フェイクボタン</div>
<div role=button tabindex=0 id=alt-button alt="div element with alt"><code>alt</code>属性を持つ<code>div</code>要素</div>
<div role=button tabindex=0 id=title-button title="div element with title"><code>title</code>属性を持つ<code>div</code>要素</div>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>