<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
       /*
         Chrome 58.0.3029.110 (64-bit) では
         "Yu Gothic Medium" を認識しないバグあるため
         "Yu Gothic" と font-weight も併せて指定。
       */
}

*:focus {outline:3px solid #27B;}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #333;
    padding: 10px 15px;
}
p, li {
    max-width: 35em;
    line-height: 1.8;
    letter-spacing: 1.5px;
    line-height: 1.75;
}
a {
    letter-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    font-size: inherit;
}
code {
    font-size: 100%;
    font-family: inherit;
}
kbd {
    margin: 0 3px;
    position: relative;
    top: -2px; 
    border-radius: 6px;
    padding: 3px 6px 2px;
    display: inline-block;
    border: 1px solid #aaa;
}
kbd kbd {
    border: 0;
    top: 0;
    line-height: 1;
    padding: 0;
    margin: 0 6px;
}
footer {
    font-size: 1.2rem;
    margin-top: 30vh;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
footer h2 {
    font-size: 1.4rem;
}
h2 {
    margin-top: 100px;
}
h1 + h2 {
    margin-top: 0;
}
</style>