@import "tailwindcss";
@import "./spacing.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    /* Common */
    --v-color-text: #333;
    --v-color-text-secondary: #50545a;
    --v-color-text-link: #005a9c;
    --v-color-text-alert: #c10000;
    --v-color-text-description: #50545a;
    --v-color-background: #f7f7f7;
    --v-color-background-alert: #c10000;
    --v-color-background-banner: #fff;
    --v-color-background-loading: #fff;
    --v-color-background-card: #e5e8eb;
    --v-color-background-card-secondary: #f9fafb;
    --v-color-background-required: #b20000;
    --v-color-background-scroll-hint: white;
    --v-color-background-section-primary: #fff;
    --v-color-background-section-secondary: #e2e8f0;
    --v-color-background-textfield: #fff;
    --v-color-background-table: #fff;
    --v-color-background-table-header: #00000011;
    --v-color-border-textfield: #d1d5dc;
    --v-color-border-table: #00000022;
    --v-spacing-content-inline: min(1rem, 48px);
    --v-spacing-share-buttons: 6rem;
    --v-spacing-paragraph: 1rem;

    /* TailWindCSS */
    /* Component */
    --v-header-margin-bottom: 2rem;
  }

  [data-theme="dark"]:root {
    --v-color-text: #bebebe;
    --v-color-text-secondary: #c5bdb2;
    --v-color-text-link: #edc56c;
    --v-color-text-alert: #fc4f4b;
    --v-color-text-description: #aeb4c1;
    --v-color-background: #272727;
    --v-color-background-alert: #fc4f4b;
    --v-color-background-banner: #333;
    --v-color-background-loading: #333;
    --v-color-background-card: #4b4845;
    --v-color-background-card-secondary: #3b3939;
    --v-color-background-required: #b20000;
    --v-color-background-scroll-hint: white;
    --v-color-background-section-primary: #111;
    --v-color-background-section-secondary: #1c1c1c;
    --v-color-background-textfield: #3d3c3a;
    --v-color-background-table: #3d3c3a;
    --v-color-background-table-header: #00000011;
    --v-color-border-table: #00000022;
    --v-color-border-textfield: #111;
  }

  .no-hidden {
    display: block !important;
  }

  @media screen and (min-width: 640px) {
    :root {
      --v-spacing-content-inline: min(1.5rem, 48px);
      --v-spacing-share-buttons: 8rem;
      --v-spacing-paragraph: 1.5rem;
      --v-header-margin-bottom: 4rem;
    }
  }

  @media screen and (min-width: 1024px) {
    :root {
      --v-spacing-content-inline: min(3rem, 48px);
    }
  }

  @media screen and (min-width: 1536px) {
    :root {
      --v-spacing-content-inline: min(1.2rem, 48px);
    }
  }
}

@theme {
  --breakpoint-w500: 500px;
  --breakpoint-w700: 700px;
  --breakpoint-w800: 800px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-pointer-fine: (pointer: fine);
  --breakpoint-pointer-coarse: (pointer: coarse);
  --breakpoint-pointer-none: (pointer: none);

  --container-content: 60rem; /* 960px */

  --text-*: initial;
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --leading-inherit: inherit;

  --max-width-dialog: min(48rem, 90%);
  --max-width-article: min(40rem, 90%);
  --max-width-content: 60rem;
  --max-width-structure: 90rem;

  --spacing-share-buttons: var(--v-spacing-share-buttons);
  --spacing-paragraph: var(--v-spacing-paragraph);
  --spacing-content-inline: var(--v-spacing-content-inline);

  --color-text: var(--v-color-text);
  --color-link: var(--v-color-text-link);
  --color-alert: var(--v-color-text-alert);
  --color-secondary: var(--v-color-text-secondary);
  --color-description: var(--v-color-text-description);
  --background-color-alert: var(--v-color-background-alert);
  --background-color-required: var(--v-color-background-required);
  --background-color-textfield: var(--v-color-background-textfield);
  --background-color-section-primary: var(--v-color-background-section-primary);
  --background-color-section-secondary: var(--v-color-background-section-secondary);
  --background-color-card: var(--v-color-background-card);
  --background-color-card-secondary: var(--v-color-background-card-secondary);
  --background-color-banner: var(--v-color-background-banner);
  --background-color-banner-hover: var(--v-color-background-banner-hover);
  --background-color-table: var(--v-color-background-table);
  --background-color-table-header: var(--v-color-background-table-header);
  --background-color-header: var(--v-color-background-header);
  --border-color-textfield: var(--v-color-border-textfield);
  --border-color-table: var(--v-color-border-table);

  --shadow-sticky: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --font-emoji:
    apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol !important;
  --font-mono: Consolas, Monaco, monospace;

  --transition-property-fade: opacity, visibility;
  --transition-property-bg: background-color;
  --default-transition-duration: 300ms;

  --container-w1024: 64rem;
  --container-w800px: 800px;
  --container-w800: 50rem;
  --container-w768: 48rem;
  --container-w700: 43.75rem;
  --container-w640: 40rem;
  --container-w500: 31.25rem;
  --container-w400: 25rem;
}

@layer utilities {
  /* href=#hogehoge の行き先 */
  .target[id]:not([id^=":"]) {
    display: block;
    margin-top: -30px;
    padding-top: 30px;
  }
}

@utility palt {
  font-feature-settings: "palt";
}

@utility scroll-hint-x {
  background:
    transparent,
    linear-gradient(to right, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 70%) 100% 0,
    linear-gradient(to left, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 30%),
    radial-gradient(farthest-side at 100% 40%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0,
    radial-gradient(farthest-side at 0 40%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 0;
  background-repeat: no-repeat;
  background-color: var(--v-color-background-scroll-hint);
  background-size:
    40px 100%,
    40px 100%,
    14px 120%,
    14px 120%;
  background-attachment: local, local, scroll, scroll;
}

@utility scroll-hint-y {
  background:
    transparent,
    linear-gradient(to top, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 30%),
    linear-gradient(to top, var(--v-color-background-scroll-hint), rgba(255, 255, 255, 0) 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--v-color-background-scroll-hint);
  background-size:
    100% 60px,
    100% 60px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

@utility vertical-rl {
  writing-mode: vertical-rl;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :focus-visible {
    outline: 2px solid var(--outline-color, #000);
    outline-offset: var(--outline-offset, 2px);
    box-shadow: 0 0 0 2px #fff;
  }

  ::selection {
    background-color: #316ac5;
    color: #fff;
    fill: #fff;
  }

  ::-moz-selection {
    background-color: #316ac5;
    color: #fff;
    fill: #fff;
  }

  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    background: var(--v-color-background);
  }

  html[data-cookie-consent] body {
    transition: filter 0.3s ease-out;
  }

  html[data-cookie-consent="waiting"] body {
    filter: blur(5px);
  }

  html[data-cookie-consent] body::before {
    content: "";
    transition:
      opacity 0.5s ease-out,
      filter 0.5s ease-out;
  }

  html[data-cookie-consent] body::before {
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    filter: blur(20px);
    opacity: 1;
    background: radial-gradient(circle at 0% 0%, rgb(134 131 255 / 90%), rgb(255 255 255) 60%);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  html[data-theme="dark"][data-cookie-consent] body::before {
    background-image: radial-gradient(circle at 0% 0%, rgb(200 123 20), rgb(0 0 0) 100%);
  }

  html:not([data-cookie-consent="waiting"]) body::before {
    opacity: 0;
    transition:
      opacity 0.5s ease-in,
      filter 0.5s ease-in;
    transition-delay: 0.5s, 0.5s;
  }

  body {
    line-height: 1.875;
    color: var(--v-color-text);
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    text-spacing-trim: trim-start;
  }

  mark {
    background-color: mark;
    color: marktext;
  }

  a {
    color: var(--v-color-text-link);
    --v-fill: var(--v-color-text-link);
    text-decoration: underline;
    word-break: break-word;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  strong {
    font-weight: bold;
  }

  small {
    font-size: inherit;
  }

  code,
  kbd {
    font-family: var(--font-mono);
  }

  th,
  td {
    vertical-align: baseline;
  }

  input {
    font-size: 1rem;
  }

  button,
  [type="button"],
  summary {
    cursor: default;
  }

  summary {
    display: block;
    list-style: none;
    position: relative;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    margin: auto 0;
    content: "";
    display: block;
    background: #333;
    height: calc(1rem / 2 * tan(60deg));
    width: 1rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transition: 0.2s transform ease-out;
  }

  [open] summary::after {
    transform: rotateX(180deg);
  }

  video {
    display: block;
    margin: 0 auto;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  /* stylelint-disable-next-line */
  .hljs {
  }
}
