@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }

  /* href=#hogehoge の行き先 */
  .target[id]:not([id^=":"]) {
    display: block;
    margin-top: -30px;
    padding-top: 30px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline-offset: 1px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  line-height: 1.875;
  color: #333;
  background: #f2f2f2;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

mark {
  background-color: mark;
  color: marktext;
}

a {
  color: #005a9c;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

small {
  font-size: inherit;
}

th,
td {
  vertical-align: baseline;
}

input {
  font-size: 1rem;
}

summary {
  display: block;
  list-style: none;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5rem;
  margin: auto 0;
  content: "";
  display: block;
  background: #333;
  height: calc(1rem / 2 * tan(60deg));
  width: 1rem;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transition: 0.2s transform ease-out;
}

[open] summary::after {
  transform: rotateX(180deg);
}

video {
  display: block;
  margin: 0 auto;
}

@layer base {
  input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
