@import "tailwindcss";
@import "./spacing.css";
@import "./highlightjs.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    /* Common */
    --v-color-text-secondary: #50545a; /* deprecated */
    --v-color-background: #f7f7f7;
    --v-color-background-alert: #c10000;
    --v-color-background-card: #e5e8eb;

    --v-color-background-table: #fff; /* deprecated */
    --v-color-background-table-header: #00000011;
    --v-spacing-content-inline: min(1rem, 48px);
    --v-spacing-share-buttons: 6rem;
    --v-spacing-paragraph: 1rem;

    /* TailWindCSS */
    /* Component */
    --v-header-margin-bottom: 2rem;

    /* 整頓中 */
    --v-color-box: #fff;
    --v-color-border: #e5e8eb;
    --v-color-table-header: #fff;
  }

  [data-theme="dark"]:root {
    --v-color-text-secondary: #c5bdb2; /* deprecated */
    --v-color-background: #333; /* deprecated */
    --v-color-background-alert: #fc4f4b;
    --v-color-background-card: #4b4845;
    --v-color-background-table: #3d3c3a;
    --v-color-background-table-header: #00000011;

    /* 整頓中 */
    --v-color-box: #4b4845;
    --v-color-border: #3b3939;
    --v-color-table-header: #4b4845;
  }

  /* new */
  :root {
    --v-color-accent: #f6535d;
    --v-color-text-primary: #333;
    --v-color-text-secondary: #585858;
    --v-color-text-high-contrast: #000;
    --v-color-text-high-contrast-reverse: #fff;
    --v-color-text-link: #004d86;
    --v-color-text-alert: #9c0000;
    --v-color-text-required: #fffcfc;
    --v-color-text-textfield: #333;

    /* Background */
    --v-color-background-primary: #f7f7f7;
    --v-color-background-secondary: #fff;
    --v-color-background-secondary-hover: #e5e8eb;
    --v-color-background-tertiary: #e2e8f0;
    --v-color-background-tertiary-hover: #cad5e2;
    --v-color-background-required: #b20000;
    --v-color-background-textfield: #fff;
    --v-color-background-success: #cfc;
    --v-color-background-warn: #ffc;
    --v-color-background-error: #fcc;
    --v-color-background-scroll-hint: white;
    --v-color-background-scroll-hint-shadow: rgba(0, 0, 0, 0.2);

    /* Border */
    --v-color-border-primary: #00000033;
    --v-color-border-secondary: #666;
  }
  [data-theme="dark"]:root {
    --v-color-accent: #f48287;
    --v-color-text-primary: #dadada;
    --v-color-text-secondary: #c9c1b6;
    --v-color-text-high-contrast: #fff;
    --v-color-text-high-contrast-reverse: #000;
    --v-color-text-link: #edc56c;
    --v-color-text-alert: #ffadab;
    --v-color-text-required: #e6e6e6;
    --v-color-text-textfield: #cfcfcf;
    --v-color-background-success: #1d521d;
    --v-color-background-warn: #5b5b00;
    --v-color-background-error: #6b2d2d;

    /* Background */
    --v-color-background-primary: #272727;
    --v-color-background-secondary: #333;
    --v-color-background-secondary-hover: #4b4845;
    --v-color-background-tertiary: #464340;
    --v-color-background-tertiary-hover: #3e3e3e;
    --v-color-background-required: #990300;
    --v-color-background-textfield: #3d3c3a;
    --v-color-background-scroll-hint: #272727;
    --v-color-background-scroll-hint-shadow: rgba(237, 197, 108, 0.4);

    /* Border */
    --v-color-border-primary: #ffffff33;
    --v-color-border-secondary: #999;
  }

  .no-hidden {
    display: block !important;
  }

  @media screen and (min-width: 640px) {
    :root {
      --v-spacing-content-inline: min(1.5rem, 48px);
      --v-spacing-share-buttons: 8rem;
      --v-spacing-paragraph: 1.5rem;
      --v-header-margin-bottom: 4rem;
    }
  }

  @media screen and (min-width: 1024px) {
    :root {
      --v-spacing-content-inline: min(3rem, 48px);
    }
  }

  @media screen and (min-width: 1536px) {
    :root {
      --v-spacing-content-inline: min(1.2rem, 48px);
    }
  }
}

@theme {
  --breakpoint-w500: 500px;
  --breakpoint-w700: 700px;
  --breakpoint-w800: 800px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-pointer-fine: (pointer: fine);
  --breakpoint-pointer-coarse: (pointer: coarse);
  --breakpoint-pointer-none: (pointer: none);

  --container-content: 60rem; /* 960px */

  --text-*: initial;
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --leading-inherit: inherit;

  --max-width-dialog: min(48rem, 90%);
  --max-width-article: min(40rem, 90%);
  --max-width-content: 60rem;
  --max-width-structure: 90rem;

  --spacing-share-buttons: var(--v-spacing-share-buttons);
  --spacing-paragraph: var(--v-spacing-paragraph);
  --spacing-content-inline: var(--v-spacing-content-inline);

  --color-mark: #000;
  --color-accent: var(--v-color-accent);

  --background-color-alert: var(--v-color-background-alert);
  --background-color-mark: #ff0;
  --background-color-textfield: var(--v-color-background-textfield);
  --background-color-card: var(--v-color-background-card);
  --background-color-table-header: var(--v-color-background-table-header);
  --background-color-header: var(--v-color-table-header);
  --border-color-textfield: var(--v-color-border-secondary);

  /* 整頓中 */
  --border-color-blockquote: var(--v-color-border);
  --background-color-blockquote: var(--v-color-box);
  --background-table-border: var(--v-color-border);
  --background-table-header: var(--v-color-box);

  --shadow-sticky: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --font-emoji:
    apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol !important;
  --font-mono: Consolas, Monaco, monospace;

  --transition-property-fade: opacity, visibility;
  --transition-property-bg: background-color;
  --default-transition-duration: 300ms;

  --container-w1520: 95rem;
  --container-w1280: 80rem;
  --container-w1024: 64rem;
  --container-w800px: 800px;
  --container-w800: 50rem;
  --container-w768: 48rem;
  --container-w700: 43.75rem;
  --container-w640: 40rem;
  --container-w500: 31.25rem;
  --container-w400: 25rem;
  --container-w350: 21.875rem;

  /* new */
  --color-primary: var(--v-color-text-primary);
  --color-secondary: var(--v-color-text-secondary);
  --color-high-contrast: var(--v-color-text-high-contrast);
  --color-high-contrast-reverse: var(--v-color-text-high-contrast-reverse);
  --color-link: var(--v-color-text-link);
  --color-alert: var(--v-color-text-alert);
  --color-textfield: var(--v-color-text-textfield);

  --background-color-primary: var(--v-color-background-primary);
  --background-color-secondary: var(--v-color-background-secondary);
  --background-color-tertiary: var(--v-color-background-tertiary);
  --background-color-panel-primary: var(--v-color-background-secondary);
  --background-color-panel-primary-hover: var(--v-color-background-secondary-hover);
  --background-color-success: var(--v-color-background-success);
  --background-color-warn: var(--v-color-background-warn);
  --background-color-error: var(--v-color-background-error);

  --border-color-primary: var(--v-color-border-primary);
  --border-color-secondary: var(--v-color-border-secondary);

  /* 0.5秒待っても表示されない時にフェードイン */
  --animate-fade-in-spinner: fade-in-spinner 0.3s ease-out 0.5s forwards;

  @keyframes fade-in-spinner {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  /* href=#hogehoge の行き先 */
  .target[id]:not([id^=":"]) {
    display: block;
    margin-top: -30px;
    padding-top: 30px;
  }
}

@utility animate-fade-in-spinner {
  opacity: 0;
}

@utility palt {
  font-feature-settings: "palt";
}

@utility scroll-hint-x {
  background: transparent;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 70%),
    linear-gradient(to left, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 30%),
    radial-gradient(farthest-side at 100% 40%, var(--v-color-background-scroll-hint-shadow), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 0 40%, var(--v-color-background-scroll-hint-shadow), rgba(0, 0, 0, 0));
  background-position:
    100% 0,
    0 0,
    100% 0,
    0 0;
  background-repeat: no-repeat;
  background-color: var(--v-color-background-scroll-hint);
  background-size:
    40px 100%,
    40px 100%,
    14px 120%,
    14px 120%;
  background-attachment: local, local, scroll, scroll;
}

@utility scroll-hint-y {
  background: transparent;
  background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0), var(--v-color-background-scroll-hint) 30%),
    linear-gradient(to top, var(--v-color-background-scroll-hint), rgba(255, 255, 255, 0) 70%),
    radial-gradient(farthest-side at 50% 0, var(--v-color-background-scroll-hint-shadow), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, var(--v-color-background-scroll-hint-shadow), rgba(0, 0, 0, 0));
  background-position:
    0 0,
    0 100%,
    0 0,
    0 100%;
  background-repeat: no-repeat;
  background-color: var(--v-color-background-scroll-hint);
  background-size:
    100% 60px,
    100% 60px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

@utility vertical-rl {
  writing-mode: vertical-rl;
}

@utility focus-ring {
  outline: 2px solid var(--v-outline-color, #000);
  outline-offset: var(--v-outline-offset, 2px);
  box-shadow: 0 0 0 2px #fff;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :focus-visible {
    outline: 2px solid var(--v-outline-color, #000);
    outline-offset: var(--v-outline-offset, 2px);
    box-shadow: 0 0 0 2px #fff;
  }

  ::selection {
    background-color: #316ac5;
    color: #fff;
    fill: #fff;
  }

  ::-moz-selection {
    background-color: #316ac5;
    color: #fff;
    fill: #fff;
  }

  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    background: var(--background-color-primary);
  }

  html[data-cookie-consent] body {
    transition: filter 0.3s ease-out;
  }

  html[data-cookie-consent="waiting"] body {
    filter: blur(5px);
  }

  html[data-cookie-consent] body::before {
    content: "";
    transition:
      opacity 0.5s ease-out,
      filter 0.5s ease-out;
  }

  html[data-cookie-consent] body::before {
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    filter: blur(20px);
    opacity: 1;
    background: radial-gradient(circle at 0% 0%, rgb(134 131 255 / 90%), rgb(255 255 255) 60%);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  html[data-theme="dark"][data-cookie-consent] body::before {
    background-image: radial-gradient(circle at 0% 0%, rgb(200 123 20), rgb(0 0 0) 100%);
  }

  html:not([data-cookie-consent="waiting"]) body::before {
    opacity: 0;
    transition:
      opacity 0.5s ease-in,
      filter 0.5s ease-in;
    transition-delay: 0.5s, 0.5s;
  }

  body {
    line-height: 1.875;
    color: var(--v-color-text-primary);
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    text-spacing-trim: trim-start;
  }

  hr {
    border-color: var(--v-color-border-secondary);
  }

  mark {
    background-color: mark;
    color: marktext;
  }

  a {
    color: var(--v-color-text-link);
    --v-fill: var(--v-color-text-link);
    text-decoration: underline;
    word-break: break-word;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  strong {
    font-weight: bold;
  }

  small {
    font-size: inherit;
  }

  code,
  kbd {
    font-family: var(--font-mono);
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  th,
  td {
    vertical-align: baseline;
  }

  input {
    font-size: 1rem;
  }

  button,
  [type="button"],
  summary {
    cursor: default;
    touch-action: manipulation;
  }

  summary {
    display: block;
    list-style: none;
    position: relative;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    margin: auto 0;
    content: "";
    display: block;
    background: #333;
    height: calc(1rem / 2 * tan(60deg));
    width: 1rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transition: 0.2s transform ease-out;
  }

  [open] summary::after {
    transform: rotateX(180deg);
  }

  video {
    display: block;
    margin: 0 auto;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  dialog {
    color: inherit;
  }

  dialog::backdrop {
    background: #00000077;
  }
}
