.toc > h2:first-child {
  margin-top: 0;
}

.toc ul li {
  position: relative;
  padding-left: 0.7em;
}

.toc ul li::before {
  position: absolute;
  top: calc(0.5lh - 2px);
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  content: "";
  background-color: currentColor;
  border-radius: 50%;
}
