.root {
  a {
    color: var(--link);
  }

  a:visited {
    color: var(--link-visited);
  }

  a[aria-current="page"] {
    color: inherit;
    text-decoration: none;
  }
}

.item {
  &:not(:first-child)::before {
    padding: 0 0.5em;
    color: inherit;
    content: ">";
  }
}

/** 画面幅をめちゃちじめるか、iPhone SE基準、375px幅のスマホで文字サイズを上げるとガラケーサイトになる */
@container (width <= 23.125rem) {
  .root {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: calc(12 / 18 * 1rem);
    list-style: none;
  }
}

@container (width > 23.125rem) {
  .root {
    display: flex;
    flex-wrap: wrap;
    padding: 4px var(--padding-inline) 8px;
    margin: 0;
    font-size: 0.75rem;
    list-style: none;
  }

  .item {
    &:not(:first-child)::before {
      content: "|";
    }
  }
}
