.root table :where(td, th) {
  padding: 0.5rem 0.5rem;
  text-align: center;
  vertical-align: middle;
  white-space: pre;
  line-height: 1.3;
  border: 1px solid #00000022;
}
.root table th {
  padding-bottom: 0.375rem;
}

.root {
  --v-true: #005f82;
  --v-false: #7b4f00;
}

[data-theme="dark"] .root {
  --v-true: #b6ebff;
  --v-false: #ffdfa5;
}
