@keyframes object-position {
  from {
    object-position: 50% 85%;
  }
  to {
    object-position: 50% 50%;
  }
}

.root {
  transition:
    0.3s height ease-out,
    0.3s visibility ease-out;
  interpolate-size: allow-keywords;
  overflow: clip;

  &[aria-hidden="true"] {
    height: 0;
    visibility: hidden;
    transition-delay: 0.3s;
  }
}

.item {
  view-timeline-name: --v-gallery-item;
  view-timeline-axis: block;
}

.image {
  animation-name: object-position;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-timeline: --v-gallery-item;
  animation-range: entry 0% exit 100%;
}
