.page {
  *:focus,
  button:hover,
  #table-caption:focus,
  #table-caption:hover {
    outline: 3px solid #369;
    outline-offset: 2px;
  }
  th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
  }
  table:nth-of-type(2) thead th {
    font-weight: bold;
    text-align: center;
  }
  td {
    text-align: right;
  }
  th,
  td {
    padding: 0.4em;
    font-size: 115%;
    background-color: #e8e6d6;
    border-top: 2px solid white;
  }
  caption,
  #table-caption,
  #table-caption2 {
    padding: 0.8em;
    font-size: 130%;
    background-color: #c9c5b0;
    box-shadow: 10px 0 14px -4px black;
    outline: 4px solid white;
    outline-offset: 2px;
    width: 450px;
    text-align: center;
  }
  table {
    margin-bottom: 2em;
    width: 450px;
    border-collapse: collapse;
    box-shadow: black 0.4em 0.4em 1em;
    outline: 4px solid white;
  }
  table thead th {
    height: 0px;
    font-size: 0px;
  }
  td.underline {
    border-bottom: 2px solid black;
  }
  td.double-underline {
    border-bottom: 5px solid black;
    border-bottom-style: double;
  }
  button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
  }
  [role="tooltip"] {
    border: 2px solid #369;
    color: #369;
    background-color: white;
    position: absolute;
    border-radius: 15px;
    text-align: left;
    padding: 1em;
    font-weight: normal;
    width: 350px;
    visibility: hidden;
    font-size: 14pt;
    margin: 1em;
  }
  .ttbtn::after {
    content: " ℹ";
    alt: "tooltip";
  }
  .annotations-wrapper,
  table.all-annotations {
    float: left;
  }
  .annotations-wrapper {
    padding: 2em;
    width: 400px;
    margin-top: -4em;
  }
  .annotations-wrapper div {
    background-color: white;
    filter: brightness(95%);
    border: 3px solid crimson;
    color: #369;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
  }
  .info-cell {
    border: 3px solid crimson;
    filter: brightness(95%);
  }
  .hovered {
    filter: brightness(80%) !important;
  }
  .annotations-wrapper div button {
    text-align: left;
    font-size: 1.1em;
  }
  .info-cell-hidden {
    border: none;
    filter: brightness(100%);
  }
  table.t {
    margin-bottom: 2em;
    width: unset;
    min-width: 260px;
    border-collapse: collapse;
    box-shadow: unset;
    outline: unset;
  }
  table.t tbody > tr > :nth-child(2) {
    border-left: 2px solid black;
  }
  table.t td {
    text-align: justify;
    padding: 4px;
    font-size: 100%;
    background-color: unset;
    border-top: none;
    word-spacing: 4px;
  }
  table.t caption {
    border-bottom: 2px solid black;
    font-weight: bold;
    padding: unset;
    font-size: 100%;
    background-color: unset;
    box-shadow: unset;
    outline: unset;
    outline-offset: unset;
    width: unset;
    text-align: center;
  }
  table.t tbody > :last-child {
    border-top: 2px solid black;
  }
  div.tcol {
    float: left;
    padding: 4px;
  }
  .clos2hovered {
    color: #895700 !important;
    outline: 2px solid orange;
    background-color: #ddd !important;
  }
  .clos1hovered {
    outline: 2px solid green;
    background-color: #ddd !important;
  }
  .clos3hovered {
    outline: 2px solid blue;
    background-color: #ddd !important;
  }
  .clos4hovered {
    color: black !important;
    outline: 2px solid gray;
    background-color: #ddd !important;
  }
  td:focus {
    border: 3px dashed blue !important;
  }

  /* main { */
  display: flow-root;
  /* } */
}

:has(.page) [class*="connection"] {
  border: 3px solid crimson;
  border-radius: 0px;
}

#heading-info-text,
#service-revenue-info-text,
#rent-expense-info-text,
#net-income-info-text,
.heading-info,
.service-revenue-info,
.rent-expense-info,
.net-income-info,
.heading-info,
.heading-info,
.service-revenue-info,
.service-revenue-info,
.rent-expense-info,
.rent-expense-info,
.net-income-info,
.net-income-info,
#hide-show {
}
