@chatset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
a {
  color: #005a9c;
}

h2,
h3 {
  font-weight: normal;
}
h2 code,
h3 code {
  color: inherit;
}

h2 code::before,
h3 code::before {
  content: "‘";
}

h2 code::after,
h3 code::after {
  content: "’";
}

h1 {
  margin: 30px 0 8px;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 70px 0 20px;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h2 strong,
h3 strong {
  font-weight: normal;
}

h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  font-size: 80%;
  text-align: center;
  position: absolute;
  top: 0.12em;
  right: 100%;
  overflow: hidden;
  width: 2em;
  height: 2em;
  opacity: 0.5;
}
h2 a.anchor:focus,
h2 a.anchor:hover,
h3 a.anchor:focus,
h3 a.anchor:hover,
h4 a.anchor:focus,
h4 a.anchor:hover,
h5 a.anchor:focus,
h5 a.anchor:hover,
h6 a.anchor:focus,
h6 a.anchor:hover {
  opacity: 1;
}

h2 a.anchor::before,
h3 a.anchor::before,
h4 a.anchor::before,
h5 a.anchor::before,
h6 a.anchor::before {
  content: "§";
}

h2 a.anchor span,
h3 a.anchor span,
h4 a.anchor span,
h5 a.anchor span,
h6 a.anchor span {
  position: absolute;
  clip: rect(0 0 0 0);
}

dfn,
code {
  font-family: inherit;
  font-size: inherit;

  page-break-inside: avoid;
}
code {
  font-family: inherit;
  font-size: inherit;
  color: #c73500;
}

code.element::before {
  content: "<";
}
code.element::after {
  content: ">";
}

pre {
  overflow: auto;
}

pre code {
  line-height: 1.5;
  color: inherit;
}
pre code::before,
pre code::after {
  display: none;
}

dfn {
  font-weight: bold;
  font-style: italic;
}

dt {
  font-weight: bold;
}

dt + dd {
  margin-top: 3px;
}

dd + dt {
  margin-top: 8px;
}

dd + dd {
  margin-top: 4px;
}
dt > dfn {
  color: #005a9c;
}
dt > dfn::before {
  content: "‘";
}
dt > dfn::after {
  content: "’";
}
a {
  text-decoration: underline;
}

ul {
  margin: 20px 0;
}

li {
  margin: 4px 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px 0 40px;
}

#toc {
  margin: 30px 0 80px;
}
#toc ul {
  font-weight: bold;
  margin: 5px 0;
  padding-left: 0;
  list-style: none;
}
#toc > ul > li {
  margin: 16px 0;
}
#toc ul ul {
  font-weight: normal;
}
#toc ul ul ul {
  margin-top: 0;
}
#toc a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}
#toc a:focus span:last-child,
#toc a:hover span:last-child {
  text-decoration: underline;
}
#toc a span:first-child {
  min-width: 80px;
}

.propdef {
  overflow: auto;
  margin: 1.2em 0;
}
.propdef table {
  background: #def;
  border-spacing: 0;
  border-left: 8px solid #8ccbf2;
  min-width: 400px;

  page-break-inside: avoid;
}

.propdef table td,
.propdef table th {
  padding: 0.5em 1em;
}
.propdef table tr:first-child th,
.propdef table tr:first-child td {
  padding-top: 20px;
}
.propdef table tr:last-child th,
.propdef table tr:last-child td {
  padding-bottom: 20px;
}
.propdef table tr:not(:last-child) th,
.propdef table tr:not(:last-child) td {
  border-bottom: 1px solid #bbd7e9;
}
.propdef table th {
  font-weight: normal;
  text-align: left;
  width: 156px;
}

.interface,
.example,
.note {
  margin-top: 10px;
  padding: 0.5em 1em;
  counter-increment: example;
  counter-increment: example;
  border-left: 8px solid;
}
.example {
  background: #fcfaee;
  border-left-color: #e0cb52;
}
.example::before {
  text-transform: uppercase;
  color: #827017;
  display: block;
  min-width: 7.5em;
  content: "Example " counter(example);
}
.example pre {
  background: #fcfadc;
  margin: 10px 0;
  padding: 10px;
}
.element:not(code) {
  background: #f4f4fa;
  margin: 1.2em 0;
  padding: 0.5em 1em;
  border-left: 8px solid #99f;
}
.element:not(code) dl {
  margin: 0;
}
.element:not(code) dl .interface {
  background: #def;
  margin-bottom: 10px;
  border-left-color: #8ccbf2;
}
.element:not(code) dl .interface pre {
  background: transparent;
}
.element:not(code) .interface code {
  font-size: 1.4rem;
  color: #596d80;
}
.element:not(code) .interface pre {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
}
.element:not(code) .interface .name {
  font-weight: bold;
  color: #c73500;
}
.element:not(code) .interface .keyword {
  color: #905;
}
.element:not(code) .interface a {
  color: inherit;
}

.note {
  background: #e9fbe9;
  border-color: #52e052;
}
.note::before {
  font-weight: bold;
  content: "Note: ";
  color: #178217;
  text-transform: uppercase;
  display: block;
  margin-top: 4px;
}
.note > :first-child {
  margin-top: 8px;
}

.language-html .hljs-tag {
  color: #537f0c;
}
.language-html .hljs-attr {
  color: #07a;
}
.language-html .hljs-string {
  color: #976930;
}
.language-css,
.language-html .css {
  color: #222;
}
.language-css .hljs-selector-id,
.language-html .css .hljs-selector-id,
.language-css .hljs-selector-tag,
.language-html .css .hljs-selector-tag,
.language-css .hljs-selector-pseudo,
.language-html .css .hljs-selector-pseudo {
  color: #537f0c;
}
.language-css .hljs-attribute,
.language-html .css .hljs-attribute {
  color: #07a;
}
.language-css .hljs-number,
.language-html .css .hljs-number {
  color: #222;
}
.language-css .hljs-built_in,
.language-html .css .hljs-built_in {
  color: #976930;
}
.language-javascript .hljs-string,
.language-html .javascript .hljs-string {
  color: #976930;
}
.language-javascript .hljs-number,
.language-html .javascript .hljs-number {
  color: #000;
}
.language-javascript .hljs-keyword,
.language-html .javascript .hljs-keyword {
  color: #905;
}
.language-javascript .hljs-keyword,
.language-html .javascript .hljs-keyword {
  color: #727272;
}
.hljs-comment {
  color: #596d80;
}
