.root {
  --x-tab: var(--background-color-secondary);
  --x-tab-border: var(--border-color-primary);
  --x-tab-inactive: var(--background-color-panel-primary);
  --x-tab-hover: var(--background-color-panel-primary-hover);
}
