.root {
  --v-tab: var(--background-color-secondary);
  --v-tab-border: var(--border-color-primary);
  --v-tab-inactive: var(--background-color-panel-primary);
  --v-tab-hover: var(--background-color-panel-primary-hover);
}
