.message {
  font-family: sans-serif;

  > :where(ul, ol) {
    white-space: normal;
  }

  &:has(> p:first-child:last-child) {
    display: inline;

    p {
      display: inline;
    }
  }

  a {
    color: #72baff;
  }

  blockquote {
    padding: 1em;
    margin: 0.5em 0;
    background-color: #444;
    border-left: 4px solid #777;
  }

  code {
    margin: 0 2px;
    color: orange;
    background-color: #2228;
  }

  pre > code {
    display: block;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #888;
    border-radius: 3px;
  }

  li {
    list-style-position: inside !important;
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }
}
