<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'WAI-ARIAを利用したものと純粋なチェックボックスの比較'
}); %>
<script src="https://code.jquery.com/jquery.js"></script>
<style type="text/css">
#modalOverlay {
	width:100%;
	height:100%;
    top: 50%;
    left: 50%;
    position: absolute;
}
[role=alertdialog] {
    position: relative;
    width: 80%;
    margin-left: -40%;
    height: 400px;
    margin-top: -200px;
	padding: 5px;
	border: thin #000 solid;
	background-color:#fff;
}
</style>
</head>

<body>
<%- include('./_include/_body-header.ejs'); %>

<main>
 <h1>WAI-ARIAを利用したものと純粋なチェックボックスの比較</h1>
  <p><a href="http://www.w3.org/TR/wai-aria-practices-1.1/#checkbox">http://www.w3.org/TR/wai-aria-practices-1.1/#checkbox</a></p>

  <h2>純粋なチェックボックス</h2>

  <p><label><input type="checkbox"><span>同意する場合はチェックを入れてください。</span></label></p>

  <p class="checkbox"><label><input type="checkbox"><span>同意する場合はチェックを入れてください。</span></label></p>

  <h2>非アクセシブルなマウス専用のチェックボックス</h2>

  <span id="spancheckbox" class="unchecked">同意する場合はチェックを入れてください。</span>
  <h2>ARIA Checkbox</h2>
<style>
.checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox input[type="checkbox"] + span {
  padding-left: 25px;
  display: inline-block;
  line-height: 18px;
  font-size: 16px;
  position: relative;
}
.checkbox input[type="checkbox"] + span::before {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 20px;
    height: 18px;
    background: transparent url("./img/checkbox-uncheckedBox.png") 0 0 no-repeat;
}
.checkbox input[type="checkbox"]:checked + span::before {
    background-image: url("./img/checkbox-checkedBox.png");
}
.checkbox input[type="checkbox"]:focus + span::before {
    outline: 3px solid #27b;;
}
label {cursor:pointer}
.unchecked {background-image:url("./img/checkbox-uncheckedBox.png");}
.checked {background-image:url("./img/checkbox-checkedBox.png");}
.unchecked, .checked {
  font-size: 16px;
  margin-right: 15px;
  background-repeat: no-repeat;
  line-height: 18px;
  padding-left: 25px;
  cursor:pointer;
  display: inline-block;
}
</style>
<span class="unchecked" role="checkbox" aria-checked="false" tabindex="0">同意する場合はチェックを入れてください。</span>
</main>
<script>
$(document).ready(function(e) {
	$('[role=checkbox]').click(function() {
	var checked = $(this).attr('aria-checked');
	if (checked == "true") {
		$(this).attr('aria-checked','false');
		$(this).attr('class','unchecked');
	} else {
		$(this).attr('aria-checked','true');
		$(this).attr('class','checked');
	}
		return false;
	});
	$('[role=checkbox]').keypress(function (e) {
	 var key = e.which;
	 if(key == 32)
 	 {
    	$(this).click();
    	return false;
 	 }
	});
	$('#spancheckbox').click(function() {
	var checked = $(this).attr('class');
	if (checked == "checked") {
		$(this).attr('class','unchecked');
	} else {
		$(this).attr('class','checked');
	}
		return false;
	});
});
</script>
</main>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>