<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/_head-meta.ejs', {
    title: 'アコーディオンのアクセシビリティ失敗例'
}); %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<div class="container">
<%- include('./_include/_body-header.ejs'); %>

<nav role="navigation" class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header"> <a class="navbar-brand" href="./csunmobile-index">Workshop</a> </div>
    <div>
    <ul class="nav navbar-nav">
        <li><a href="./csunmobile-form-bad.html">Form Bad</a></li>
        <li><a href="./csunmobile-form-aria.html">Form ARIA</a></li>
        <li><a href="./csunmobile-form-html5.html">Form HTML5</a></li>
        <li class="active"><a aria-current="page" href="./csunmobile-accordion-bad.html">Accordion Bad</a></li>
        <li><a href="./csunmobile-accordion-aria.html">Accordion ARIA</a></li>
    </ul>
    </div>
</div>
</nav>

<main role="main">
<h1>アコーディオンのアクセシビリティ失敗例</h1>

<a id="shipping-toggle" style="cursor:pointer; font-weight:bold; margin: 20px 0 10px; display: inline-block;">アコーディオンフック <i class="fa fa-plus-square"></i></a>
<div id="shipping-panel" style="display:none">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</main>
</div>

<script>
$('#shipping-toggle').click(function(e){
    $('#shipping-panel').stop(true, false).slideToggle('500');
    $(this).find('i').toggleClass('fa-plus-square fa-minus-square')
});
</script>

<%- include('./_include/_body-footer.ejs'); %>
</body>
</html>