#article :where(h2, h3, h4, h5, h6) {
  padding-top: 1em;
  margin-top: 4em;
  position: relative;
  padding-left: calc(0.8rem * 3 - 1rem);
  transition: 300ms margin-left ease-out;
}

#article :where(h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

@media screen and (min-width: 1040px) {
  #article :where(h2, h3, h4, h5, h6) {
    margin-left: -1em;
  }
}

#article > h2:first-child {
  margin-top: calc(-1em + 0.5rem);
}

#article :where(h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6) {
  margin-top: 0;
}

#article {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  :where(h2, h3) code {
    color: inherit;
    padding-inline: 0.25rem;
    font-family: monospace;
    color: #345071;
    background-color: #c8cee1;
    border-radius: 0.25rem;
  }

  > p {
    margin-block: 1.5em;
  }

  pre {
    margin-block: 1em;
  }

  blockquote > p:first-child {
    margin-top: 0;
  }

  blockquote > p:last-child {
    margin-bottom: 0;
  }

  :where(h2, h3) strong {
    font-weight: inherit;
  }

  :where(h2, h3, h4, h5, h6) a.anchor {
    font-size: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -0.75em;
    overflow: hidden;
    width: 2em;
    height: 2em;
    transform: translateY(-25%);
    margin-top: 0.125rem;
    border-radius: 0.5rem;
    transition: 300ms background-color ease-out;
  }

  :where(h2, h3, h4, h5, h6) a.anchor:where(:focus, :hover) {
    background-color: #e2e8f0;
  }

  :where(h2, h3, h4, h5, h6) a.anchor::before {
    content: "#";
    font-weight: normal;
  }

  :where(h2, h3, h4, h5, h6) a.anchor span {
    position: absolute;
    clip: rect(0 0 0 0);
  }
}

#article table {
  clear: both;
  border-collapse: collapse;
  background: #fff;
}

#article th,
#article td {
  padding: 4px 10px;
  vertical-align: top;
  border: 1px solid #777;
}

#article td:has(img:first-child:last-child) {
  padding: 0;
}

#article th {
  text-align: left;
  background-color: #ecedf3;
}
#article thead th {
  text-align: center;
}

#article p img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

#article p:has(img:first-child:last-child) {
  margin-block: 2em;
}
