@layer components {
  .root {
    border-radius: var(--radius-lg);
    overflow: hidden;
    border: 1px solid var(--border-color-table);

    table {
      border-collapse: collapse;
      width: 100%;
      background: var(--background-color-table);
    }

    th,
    td {
      padding: 0.5rem 1rem;
      text-align: left;
    }

    th {
      font-weight: bold;
      text-align: left;
    }

    th:first-child {
      border-right: 2px solid var(--border-color-table);
    }

    thead {
      background-color: var(--background-color-table-header);
    }

    tbody :where(th, td) {
      border: 1px solid var(--border-color-table);
      border-width: 1px 0;
    }

    tbody tr:first-child :where(th, td) {
      border-top: 2px solid var(--border-color-table);
    }

    tbody th {
      background-color: var(--background-color-table-header);
    }
  }
}
