.root {
  code {
    padding: 1rem;
    display: block;
    overflow: auto;
  }

  pre,
  code {
    white-space: inherit;
    outline: none;
  }

  &:has(:focus-visible) {
    outline: 2px solid var(--v-color-text-link, #fff);
    outline-offset: var(--v-outline-offset, 2px);
    box-shadow: 0 0 0 2px var(--v-color-background-secondary);
  }
}
