*:focus {
  outline: 3px solid #27b;
}
a[target="_blank"]:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: " \f08e";
  alt: "新しいタブで開きます";
}
a.iconnullalt:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: " \f08e";
  alt: "";
}
a.iconnoalt:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: " \f08e";
}
a.new:before {
  content: "\1F195";
  alt: "New";
}
a.decorativealtnull:after {
  content: " \1F435";
  alt: "";
}
a.decorativealtnullspace:after {
  content: " \1F435";
  alt: " ";
}
