@keyframes container-fade-in {
  0% {
    translate: 0 2.5rem;
    scale: 1.2;
    opacity: 0;
  }
  25% {
    translate: 0 2.5rem;
    scale: 1.2;
    opacity: 0;
  }
  50% {
    translate: 0 0;
    scale: 1;
    opacity: 1;
  }
  90% {
    translate: 0 0;
    scale: 1;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    scale: 1;
    filter: blur(3px);
    opacity: 0.5;
  }
}

@keyframes heading-drift {
  0% {
    translate: 0 -6rem;
    text-shadow: 0;
    background-size: 100% 1000%;
  }
  75% {
    translate: 0;
    background-size: 100% 1000%;
  }
  90% {
    translate: 0;
    background-size: 100% 100%;
  }
  100% {
    translate: 0;
    background-size: 100% 100%;
  }
}

@keyframes body-drift {
  0% {
    translate: 0 -2rem;
  }
  50% {
    translate: 0 0;
  }
}

@keyframes already-drift {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(20%);
  }
}

.root {
  position: relative;
  isolation: isolate;
  text-align: center;
  view-timeline-name: --web-section;
  color: #747474;

  [data-theme="dark"] & {
    color: #c2c2c2;
  }

  .heading {
    margin: 0 0 0.625em;
    font-size: 1.6875rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .message {
    margin: 0 0 0.25em;
    font-size: 0.875rem;
  }

  .quote {
    &:first-child {
      margin-right: 0.2em;
    }
    &:last-child {
      margin-left: 0.2em;
    }
  }

  .link,
  .link > span {
    text-decoration: underline;
    text-decoration-color: color-mix(in srgb, var(--v-color-text-link) 50%, transparent);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    transition: 0.3s text-decoration-color ease-out;

    @media (hover: hover) {
      &:hover,
      &:hover span {
        text-decoration-color: currentColor;
      }
    }
  }

  .caption {
    font-size: 0.625rem;

    cite {
      font-weight: bold;
    }

    @container (min-width: 28rem) {
      font-size: 0.875rem;
    }
  }

  &.ready {
    &::before {
      content: "";
      position: fixed;
      inset: 0;
      height: 100dvh;
      z-index: -1;
      pointer-events: none;
      background: linear-gradient(
        to top,
        color-mix(in srgb, var(--background-color-secondary) 80%, #fff),
        var(--background-color-secondary) 40%
      );
    }

    .content {
      @supports (animation-timeline: --web-section) {
        animation: container-fade-in 0.6s ease-out both;
        animation-timeline: --web-section;
        animation-range: entry 0% exit 25%;
      }
    }

    .content {
      padding: 0 0 10vh;
    }

    .heading {
      font-weight: 800;
      animation: heading-drift linear both;
      animation-timeline: --web-section;
      animation-range: entry exit;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-image: linear-gradient(135deg, #005fab, #0ea5e9, #fff);

      [data-theme="dark"] & {
        background-image: linear-gradient(135deg, #edc56c, #edc56c, #fff);
      }

      @container (min-width: 28rem) {
        font-size: 2rem;
      }

      @container (min-width: 35rem) {
        font-size: 2.5rem;
      }

      @container (min-width: 42rem) {
        font-size: 3rem;
      }

      @container (min-width: 50rem) {
        font-size: 3.5rem;
      }
    }

    .message {
      animation: body-drift linear both;
      animation-timeline: --web-section;
      animation-range: entry exit;
      /* text-wrap: balance; */

      @container (min-width: 28rem) {
        font-size: 1.25rem;
      }
    }
  }

  &.already {
    .heading {
      color: #015a9c;

      [data-theme="dark"] & {
        color: #dbdbdb;
      }
    }

    view-timeline-name: --v-already;
    view-timeline-axis: block;

    .content {
      animation-name: already-drift;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-timeline: --v-already;
      animation-range: entry 0% exit 100%;
    }
  }
}
