[role="button"] {
  padding: 10px;
  border: 1px solid #ccc;
}
[role="button"][aria-pressed="true"] {
  border: 1px solid #000;
}
[role="button"][aria-pressed="false"] {
  border-bottom-width: 4px;
  position: relative;
  top: -4px;
  color: #4f4f4f;
  background: #eee;
}
